<html dir="rtl">
<meta charset="utf-8 " dir="rtl" />
<meta content='width=device-width, initial-scale=1' name='viewport' />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>מרוחק::
    <%=title%>
</title>
<h1>ניהול מרוחק של ערוצים:
    <%=title%>
</h1>

</html>

<div id="statusTable">
    <h1> מעלה נתונים מהתתקן:...</h1>
</div>


<br>

<div id="action">
</div>

<script>
    let config
    setTimeout(() => {
        reloadTable()
    }, 10);

    function action(url) {
        fetch(url + '?systemCode=<%=sysCode%>').then((data) => {
            if (data.status == 200) {
                document.getElementById('action').innerHTML = `<b style="color:green;"> הושלם </b>`;
                setTimeout(() => {
                    document.getElementById('action').innerHTML = ''
                }, 1000)
            } else {
                document.getElementById('action').innerHTML = `<b style="color:red;"> שגיאה ${data.status} - ${data.body}</b>`;
                setTimeout(() => {
                    document.getElementById('action').innerHTML = ''
                }, 1500)
            }
        });
        reloadTable()
        document.getElementById('action').innerHTML = '<h> בביצוע... </h>';
    }

    function reloadTable() {

        fetch('/getChannels?systemCode=<%=sysCode%>')
            .then(res => res.json())
            .then((data) => {
                config = data
            })

        fetch('/getOriginalStatus?systemCode=<%=sysCode%>')
            .then(res => res.json())
            .then((data) => {
                var status = data
                var table_body = `<table>
        <thead>
            <tr>
                <th>ערוץ</th>
                <th>מצב</th>
                <th>פעולות</th>
            </tr>
        </thead>`;
                for (var i = 0; i < status.length; i++) {
                    if (i < 3 || i == status.length - 1) {
                        continue;
                    }
                    let myI = i - 2
                    let configI = myI - 1

                    table_body += `
            <tr>
                <td>
                    # ${config[configI].name ? config[configI].name: myI}
                </td>
                <td>
                    ${status[i] == 1 ? 'פועל' : "כבוי"}
                </td>
                <td>`
                    if (typeof config[configI].actions === "string") {
                        switch (config[configI].actions) {
                            case 'all':
                                table_body += `
                                    <button ${status[i] == 1 ? 'disabled' : ""} onclick="action('/onChip/${myI}')"> הפעלה </button>
                                    <button ${status[i] == 1 ? '' : "disabled"} onclick="action('/offChip/${myI}')"> כיבוי </button>
                                    <button ${status[i] == 1 ? 'disabled' : ""} onclick="action('/delayChip/${myI}/5')"> הפעל ל5 שניות </button>`
                            default:
                        }
                    } else {
                        config[configI].actions.forEach(action => {
                            switch (action) {
                                case 'on':
                                    table_body += `<button ${status[i] == 1 ? 'disabled' : ""} onclick="action('/onChip/${myI}')"> הפעלה </button>\n`
                                    break
                                case 'off':
                                    table_body += `<button ${status[i] == 1 ? '' : "disabled"} onclick="action('/offChip/${myI}')"> כיבוי </button>\n`
                                    break
                                case 'delay':
                                    table_body += `<button ${status[i] == 1 ? 'disabled' : ""} onclick="action('/delayChip/${myI}/5')"> הפעל ל5 שניות </button>\n`
                                    break
                            }
                        });
                    }
                    table_body += `</td></tr>`
                }

                table_body += `</table>`


                table_body += '</tbody></table>';
                document.getElementById('statusTable').innerHTML = table_body;
            })
    }

    setInterval(() => {
        reloadTable()
    }, 1000);
</script>

<style>
    thead,
    tfoot {
        background-color: #3f87a6;
        color: #fff;
    }
    
    tbody {
        background-color: #e4f0f5;
    }
    
    caption {
        padding: 10px;
        caption-side: bottom;
    }
    
    table {
        border-collapse: collapse;
        border: 2px solid rgb(200, 200, 200);
        letter-spacing: 1px;
        font-family: sans-serif;
        font-size: .8rem;
    }
    
    td,
    th {
        border: 1px solid rgb(190, 190, 190);
        padding: 5px 10px;
    }
    
    td {
        text-align: center;
    }
</style>